*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

body {
    font-family: 'Montserrat';
    position: relative;
    background-image: url('./img/hexellence.png');
    background-repeat: repeat;


}

.oneCard{
display: flex;
justify-content: center;
max-width: 250px;
max-height: 400px;
font-size: 13px;
transition:all .4s ease;
}

.card{
    margin: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 10%;
    box-shadow: 0px 0px 2px black;
    
}

.card-body{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-weight:bold;
}



.btnBYE{
justify-content: end;
align-items: flex-end;
margin-bottom: 15px;
}

.priceTXT{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
}
.imgDRG{
margin-top: 10px;
width: 30%;
height: 40%;
}
/* .card-img-top{
    width:auto;
    height: 100%;
    
} */
.btn.btn-primary:hover{
    transition:all .4s ease;
    box-shadow: 0px 0px 3px black;
    animation: scale;
    animation-duration: 900ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes scale {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
    
}
.oneCard:hover{
    transition:all .4s ease;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width:1200){
    .oneCard {

        width: 300px;
        height: 450px;
          }

}